<h2>Welcome <%= current_user.first_name %>,</h2>

<div class ="scoreboard">
  
  <div class="score">
    <h4>Today's Score</h4>
    <h1 class="points"><%= current_user.daily_score %></h1>
  </div>

  <div class="score">
    <h4>Last 7 Days</h4>
    <h1 class="points"><%= current_user.past_seven_days %></h1>
  </div>

  <div class="score">
    <h4>Total Score</h4>
    <h1 class="points"><%= current_user.total_score %></h1>
  </div>

</div>

<%=render 'goals'%>
