<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,800,900,200' rel='stylesheet' type='text/css'>
</head>
<body class="<%= body_class %>">
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
    <nav class="sidenav">
      <%= render "layouts/nav" %>
    </nav>
    <div class="main">
      <%= yield %>
    </div>
  <%= render "flashes" -%>
  <%= render "javascript" %>
</body>
</html>
